<section class="section section-header">
    <div class="social social-blue">
		<i class="fa fa-facebook"></i>
	</div>
	<div class="social social-yellow">
		<i class="fa fa-rss"></i>
	</div>
	<div class="social social-light-blue">
		<i class="fa fa-twitter"></i>
	</div>
	<div class="social social-red">
		<i class="fa fa-youtube"></i>
	</div>
</section>

<section class="section section-nav">
	<div class="nav-button">
		<h3 class="nav-content">SK8T NEWS</h3>
	</div>
	<div class="nav-button">
		<h3 class="nav-content">SKATEBOARDERS</h3>
	</div>
	<div class="nav-button">
		<h3 class="nav-content">BOARD DESIGN</h3>
	</div>
	<div class="nav-button">
		<h3 class="nav-content">CONTACT US</h3>
	</div>
</section>

<section class="section section-gumbotron">
	<div class="gumbotron-image">
		<img class="logo" src="images/peralta-logo.png">
	</div>
	<div class="circle-btn-container">
		<button class="btn-circle"></button>
		<button class="btn-circle"></button>
		<button class="btn-circle"></button>
	</div>
</section>

<section class="section section-article">
	<div class="article">
		<h2 class="article-title">Tony Hawk Foundation Raises Big Money at Celeb Fundraiser</h2>
		<p class="article-date">October 10, 2013</p>
		<p class="article-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem nesciunt doloribus sunt numquam laudantium fugiat repellendus vel facilis magnam fuga maxime aliquid, ipsa maiores sed atque quod sapiente eaque, voluptatum!</p>
		<h4 class="article-link">Read More</h4>
	</div>
	<div class="article">
		<h2 class="article-title">Rodney Mullen: Pop an ollie and innovate! (TED Talk)</h2>
		<p class="article-date">March 10, 2013</p>
		<p class="article-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem nesciunt doloribus sunt numquam laudantium fugiat repellendus vel facilis magnam fuga maxime aliquid, ipsa maiores sed atque quod sapiente eaque, voluptatum!</p>
		<h4 class="article-link">Read More</h4>
	</div>
	<div class="article">
		<h2 class="article-title">Ray Barbee Talks 'Ban This</h2>
		<p class="article-date">October 4, 2013</p>
		<p class="article-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem nesciunt doloribus sunt numquam laudantium fugiat repellendus vel facilis magnam fuga maxime aliquid, ipsa maiores sed atque quod sapiente eaque, voluptatum!</p>
		<h4 class="article-link">Read More</h4>
	</div>
</section>

<section class="section section-skateboarders">
	<div class="skateboarders-arrow">
		<h1>Skateboarders</h1>
	</div>
	<div class="skateboarders-group-one">
		<div class="skaters skater-lance-container" >
			<h1 class="skater-lance">Lance<br> Mountain</h1>
		</div>
		<div class="skaters skater-two">
			<h1 class="skater-rodney">Rodney<br> Mullen</h1>
		</div>
		<div class="skaters skaters-wide">
			<h1 class="skater-steve">Steve Caballero</h1>	
		</div>
	</div>
	<div class="skateboarders-group-two">
		<div class="skaters skaters-tall">
			<h1 class="skater-tommy">Tommy<br> Guerrero</h1>
		</div>
	</div>

</section>

<section class="section section-skateboards">
	<img class="skateboards skateboard-one" src="images/sk8-1.png">
	<img class="skateboards" src="images/sk8-2.png">
	<img class="skateboards" src="images/sk8-3.png">
	<img class="skateboards" src="images/sk8-4.png">
	<img class="skateboards" src="images/sk8-5.png">
	<img class="skateboards" src="images/sk8-6.png">
	<img class="skateboards" src="images/sk8-7.png">
	<img class="skateboards" src="images/sk8-8.png">
	<img class="skateboards" src="images/sk8-9.png">
	<img class="skateboards" src="images/sk8-10.png">
</section>

<section class="section section-contact-us">
	<div class="contact-info">
		<h1>Contact Us for More Information</h1>
		<p class="contact-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi totam qui mollitia, cum! Nobis corrupti, aliquam ad veniam maiores at ipsam enim quam omnis quos mollitia, similique itaque perspiciatis amet.</p>
	</div>
	<div class="contact-form">
		<form action="">
			<input class="name-input" placeholder="Name" type="text">
			<input class="email-input" placeholder="E-mail" type="text">
			<textarea class="message-input" placeholder="Type your message here..." name="" id="" cols="30" rows="10"></textarea>
		</form>
		<button class="submit-btn">Submit</button>
	</div>
</section>